header {
  display: flex;
  flex-direction: row;
  border-bottom: 5px solid rgba(87, 87, 87, 0.4);
  align-items: center;
}
header img {
  display: block;
  margin: 15px auto 15px auto;
  max-width: 60%;
}
header .fa-solid.fa-arrow-left {
  justify-items: center;
  font-size: x-large;
  font-weight: bolder;
  padding-left: 100%;
  color: black;
}

@media screen and (min-width: 992px) {
  header {
    background: #FF79DA;
    background: -moz-linear-gradient(-45deg, #FF79DA 0%, #9356DC 74%, #9356DC 100%);
    background: -webkit-linear-gradient(-45deg, #FF79DA 0%, #9356DC 74%, #9356DC 100%);
    background: linear-gradient(135deg, #FF79DA 0%, #9356DC 74%, #9356DC 100%);
    border: none;
  }
  header .header_main {
    height: 20%;
    width: 20%;
    margin-top: 40px;
    margin-left: 40px !important;
  }
  header .fa-solid.fa-arrow-left {
    justify-items: center;
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 100%;
    color: black;
  }
}
h1, h2, h3 {
  font-family: "Shrikhand", sans-serif;
}

p, a {
  font-family: "Roboto", sans-serif;
}

.localization {
  font-family: "Roboto", sans-serif;
  background-color: #F7F7F7;
  color: #353535;
  text-align: center;
  padding-bottom: 40px;
}
.localization .text {
  padding: 4% 14%;
}
.localization h2 {
  font-family: "Roboto", sans-serif;
}
.localization .current {
  background-color: #EDEDED;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: larger;
}
.localization .current .fa-solid.fa-location-dot {
  padding-right: 10px;
}

.restaurants {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F7F7F7;
}
.restaurants h2 {
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
}

@media screen and (min-width: 992px) {
  body {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  body h1, body h2, body h3 {
    color: black;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0);
  }

  .localization {
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    color: #353535;
    text-align: center;
    padding-bottom: 40px;
  }
  .localization .text {
    padding: 2% 14%;
  }
  .localization h2 {
    font-family: "Roboto", sans-serif;
  }
  .localization .current {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: baseline;
    font-weight: bold;
    background-color: #F7F7F7;
    border: 3px solid #9356DC;
    border-radius: 40px;
    margin: 5% 40% 0% 40%;
    padding: 0;
    -webkit-box-shadow: 5px 5px 15px 5px #353535;
    box-shadow: 5px 5px 15px 5px #353535;
  }
  .localization .current .fa-solid.fa-location-dot {
    background-color: #FF79DA;
    color: white;
    padding: 10px 13px;
    border-radius: 40px;
  }
  .localization .current:hover {
    -webkit-box-shadow: 5px 5px 15px 5px #353535;
    box-shadow: 5px 5px 15px 5px #353535;
    -webkit-box-shadow: 2px 2px 15px 2px #F7F7F7;
    box-shadow: 2px 2px 15px 2px #F7F7F7;
  }

  .restaurants {
    background-color: transparent;
  }
  .restaurants h2 {
    margin: 0;
    padding-left: 8px;
  }
}
main .top_img {
  width: 100%;
}
main .container {
  position: relative;
  border-radius: 25px 25px 0px 0px;
  background-color: #EDEDED;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -40px;
}
main .container h2 {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  font-style: normal;
  text-transform: uppercase;
  padding-left: 15px;
}
main .container h2:after {
  content: "";
  display: block;
  position: relative;
  width: 12%;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
  margin-top: 8px;
}
main .container .menu_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  padding-left: 15px;
}
main .container .menu_title h1 {
  font-size: x-large;
}
main .container .button-order {
  display: flex;
  justify-content: center;
  margin: 20%;
}

@media screen and (min-width: 992px) {
  main .top_img {
    height: 220px;
    width: 100%;
    object-fit: cover;
  }
  main .container h2:after {
    content: "";
    display: block;
    position: relative;
    width: 3%;
    border: 2px solid #99E2D0;
    background-color: #99E2D0;
    margin-top: 8px;
  }
  main .container .button-order {
    display: flex;
    justify-content: center;
    margin: 5%;
  }
}
footer {
  background-color: #353535;
  background-size: cover;
  padding-left: 20px;
}
footer h4 {
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin-top: auto;
  padding-top: 30px;
  font-size: larger;
}
footer p, footer a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}
footer ul {
  list-style-type: none;
  line-height: 30px;
  padding-left: 0px;
  margin-bottom: 0px;
}
footer ul .fa-solid {
  padding-right: 10px;
}

.btn {
  font-family: "Roboto", sans-serif;
  color: white;
  border-style: none;
  border-radius: 40px;
  background: #FEB9FF;
  background: -moz-linear-gradient(-45deg, #FF79DA 0%, #9356DC 90%);
  background: -webkit-linear-gradient(-45deg, #FF79DA 0%, #9356DC 90%);
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 90%);
  -webkit-box-shadow: 5px 5px 15px 5px #949494;
  box-shadow: 5px 5px 15px 5px #949494;
}
.btn:hover {
  background: linear-gradient(170deg, #fface8 0%, #ae80e5 90%);
}

.btn-explore {
  padding: 20px;
  font-size: larger;
}
.btn-explore:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #353535;
  box-shadow: 5px 5px 15px 5px #353535;
}

.btn-order {
  padding: 10px 40px;
  font-size: larger;
}
.btn-order:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1.2);
  -webkit-box-shadow: 5px 5px 15px 5px #353535;
  box-shadow: 5px 5px 15px 5px #353535;
}

.function {
  padding-left: 2%;
  padding-right: 2%;
}
.function h1, .function h2, .function h3 {
  font-family: "Roboto", sans-serif;
  padding-left: 8px;
}
.function p {
  font-family: "Roboto", sans-serif;
  font-size: larger;
}
.function .func_card {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #F7F7F7;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
  padding-left: 8%;
  margin-bottom: 8%;
  margin-left: 4%;
  width: 84%;
}
.function .func_card:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.function .func_card:hover .fa-solid {
  color: #9356DC;
}
.function .func_card .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  position: absolute;
  left: 10px;
}

@media screen and (min-width: 992px) {
  .function {
    padding: 0;
  }
  .function h2 {
    color: black;
  }
  .function .func_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .function .func_container .func_card {
    margin-bottom: 20px;
    justify-content: center;
    margin: 2%;
    padding-left: 0;
  }
  .function .func_container .func_card .number {
    position: relative;
    display: none;
  }
}
.fa-regular.fa-heart {
  position: relative;
  font-size: 30px;
  opacity: 1;
}
.fa-regular.fa-heart:hover .fa-solid.fa-heart {
  transform: scale(1);
  background-image: -moz-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
  background-image: -webkit-linear-gradient(top, #9356DC 0%, #FF79DA 100%);
  background-image: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.fa-regular.fa-heart .fa-solid.fa-heart {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0);
  transition: transform 1ms ease-in-out;
}

.fa-solid.fa-heart:hover .fa-regular.fa-heart {
  opacity: 0;
}

.loader {
  animation: 6s disappear forwards;
}
.loader p {
  font-family: "Shrikhand", sans-serif;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: fit-content;
  margin: auto;
}
.loader .text {
  transform: scale(0);
  font-size: x-large;
  padding: 0 0.75rem;
  animation: 1s grow ease both;
  animation-delay: 0.25s;
}
.loader .graphics {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.loader .graphics .fa-solid.fa-bowl-food {
  position: relative;
  margin-top: 20px;
  font-size: 44px;
  color: #9356DC;
  animation: spin 1.5s linear infinite;
}

.loading_content {
  animation: 4s appear forwards;
  animation-delay: 4s;
  opacity: 0;
}

.header_main {
  animation: 4s appear forwards;
  animation-delay: 4s;
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    display: none;
    height: 0;
    opacity: 0;
  }
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu_cards .menu_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  width: 94%;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 16px -4px #353535;
  box-shadow: 0px 0px 16px -4px #353535;
  opacity: 0;
}
.menu_cards .menu_card .menu_card_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu_cards .menu_card .menu_card_content .menu_card_text {
  padding-left: 3%;
  width: 100%;
}
.menu_cards .menu_card .menu_card_content .menu_card_text h3, .menu_cards .menu_card .menu_card_content .menu_card_text p {
  font-family: "Roboto", sans-serif;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 12px;
}
.menu_cards .menu_card .menu_card_content .menu_card_price {
  display: flex;
  align-items: flex-end;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-bottom: 12px;
  padding-right: 10px;
  max-width: 100%;
}
.menu_cards .menu_card .menu_card_check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  visibility: hidden;
  transition: all 1s ease;
  width: 0;
}
.menu_cards .menu_card .menu_card_check i {
  color: white;
  font-size: 0px;
  transition: all 0.5s ease;
}
.menu_cards .menu_card:hover .menu_card_text {
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}
.menu_cards .menu_card:hover .menu_card_check {
  width: 30%;
  visibility: visible;
  margin-right: 0;
}
.menu_cards .menu_card:hover .menu_card_check i {
  transform: rotate(360deg);
  font-size: 24px;
}

@media screen and (min-width: 992px) {
  .menu_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu_cards .menu_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    height: 100px;
    width: 28%;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 16px -4px #353535;
    box-shadow: 0px 0px 16px -4px #353535;
  }
  .menu_cards .menu_card .menu_card_content .menu_card_price {
    display: flex;
    align-items: flex-end;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    align-items: center;
    padding-bottom: 0;
    padding-right: 10px;
    max-width: 100%;
  }
}
.menu_cards .menu_card:nth-child(1) {
  animation: fadein 2s forwards;
  animation-delay: 0.4s;
}
.menu_cards .menu_card:nth-child(2) {
  animation: fadein 2s forwards;
  animation-delay: 0.8s;
}
.menu_cards .menu_card:nth-child(3) {
  animation: fadein 2s forwards;
  animation-delay: 1.2s;
}
.menu_cards .menu_card:nth-child(4) {
  animation: fadein 2s forwards;
  animation-delay: 1.6s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.restaurants_cards h3, .restaurants_cards p {
  font-family: "Roboto", sans-serif;
}
.restaurants_cards .restaurant_card {
  display: block;
  position: relative;
  text-decoration: none;
  border-radius: 15px;
  background-color: white;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 16px -4px #353535;
  box-shadow: 0px 0px 16px -4px #353535;
}
.restaurants_cards .restaurant_card img {
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.restaurants_cards .restaurant_card .new {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  color: green;
  font-weight: bold;
  padding: 10px;
  border-radius: 2px;
}
.restaurants_cards .restaurant_card .text_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  line-height: 1%;
  padding-left: 8%;
  padding-right: 8%;
}

@media screen and (min-width: 992px) {
  .restaurants_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    width: 100%;
  }
  .restaurants_cards .restaurant_card {
    width: 23%;
  }
  .restaurants_cards h2 {
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
