h1, h2, h3
{
    font-family: 'Shrikhand', sans-serif;

}

p, a
{
    font-family: 'Roboto', sans-serif;
}

.localization
{
    font-family: 'Roboto', sans-serif;
    background-color: $color-light-grey;
    color: $color-dark-grey;
    text-align: center;
    padding-bottom: 40px;

    .text
    {
        padding: 4% 14%;
    }

    h2
    {
        font-family: 'Roboto', sans-serif; 
    }

    .current
    {
        background-color: $color-medium-grey;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: larger;

            .fa-solid.fa-location-dot
            {
                padding-right: 10px;
            }
    }
}

.restaurants
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $color-light-grey;

    h2
    {
        font-family: 'Roboto', sans-serif;
        margin-left: 20px;
    }
}