main
{
    .top_img
    {
        width: 100%;
    }

    .container
    {
        position: relative;
        border-radius: 25px 25px 0px 0px;
        background-color: $color-medium-grey;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: -40px;

        h2
        {
            font-family: 'Roboto', sans-serif; 
            font-size: medium;
            font-style: normal;
            text-transform: uppercase;
            padding-left: 15px;
        }

        h2:after
        {
            content: '';
            display: block;
            position: relative;
            width: 12%;
            border: 2px solid $color-tertiary;
            background-color: $color-tertiary;
            margin-top: 8px;
        }

        .menu_title
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 90%;
            justify-content: space-between;
            padding-left: 15px;

            h1
            {
            font-size: x-large;
            }
        }

        .button-order
        {
            display: flex;
            justify-content: center;
            margin: 20%;
        }
    }
}

@media screen and (min-width: 992px)
{
    main
    {
        .top_img
        {
            height: 220px;
            width: 100%;
            object-fit: cover;
        }

        .container
        {

            h2:after
            {
                content: '';
                display: block;
                position: relative;
                width: 3%;
                border: 2px solid $color-tertiary;
                background-color: $color-tertiary;
                margin-top: 8px;
            }

            .button-order
            {
                display: flex;
                justify-content: center;
                margin: 5%;
            }
        }
    }
}