h1, h2, h3
{
    font-family: 'Shrikhand', sans-serif;
}

p, a
{
    font-family: 'Roboto', sans-serif;
}

.localization
{
    font-family: 'Roboto', sans-serif;
    color: $color-dark-grey;
    text-align: center;

    .current
    {
        background-color: $color-medium-grey;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: larger;

            .fa-solid.fa-location-dot
            {
                padding-right: 10px;
            }
    }
}