h1, h2, h3
{
    font-family: 'Shrikhand', sans-serif;

}

p, a
{
    font-family: 'Roboto', sans-serif;
}

.localization
{
    font-family: 'Roboto', sans-serif;
    background-color: $color-light-grey;
    color: $color-dark-grey;
    text-align: center;
    padding-bottom: 40px;

    .text
    {
        padding: 4% 14%;
    }

    h2
    {
        font-family: 'Roboto', sans-serif; 
    }

    .current
    {
        background-color: $color-medium-grey;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: larger;

            .fa-solid.fa-location-dot
            {
                padding-right: 10px;
            }
    }
}

.restaurants
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $color-light-grey;

    h2
    {
        font-family: 'Roboto', sans-serif;
        margin-left: 20px;
    }
}

@media screen and (min-width: 992px)
{ 
    body
    {
        background-color: white;
        // background-image: url("../assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        // background-attachment: scroll;
    
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        h1, h2, h3
        {
            // color: white;
            color: black;
            text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(0,0,0,0);
        }
    }

    .localization
    {
        font-family: 'Roboto', sans-serif;
        background-color: transparent;
        color: $color-dark-grey;
        text-align: center;
        padding-bottom: 40px;

        .text
        {
            padding: 2% 14%;
        }

        h2
        {
            font-family: 'Roboto', sans-serif; 
        }

        .current
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            align-items: baseline;
            font-weight: bold;
            background-color: $color-light-grey;
            border: 3px solid $color-primary;
            border-radius: 40px;
            margin: 5% 40% 0% 40%;
            padding: 0;

            -webkit-box-shadow: 5px 5px 15px 5px $color-dark-grey; 
            box-shadow: 5px 5px 15px 5px $color-dark-grey;

                .fa-solid.fa-location-dot
                {
                    background-color: $color-secondary;
                    color: white;
                    padding: 10px 13px;
                    border-radius: 40px;
                }
        }

        .current:hover
        {
            -webkit-box-shadow: 5px 5px 15px 5px $color-dark-grey; 
            box-shadow: 5px 5px 15px 5px $color-dark-grey;

            -webkit-box-shadow: 2px 2px 15px 2px $color-light-grey; 
            box-shadow: 2px 2px 15px 2px $color-light-grey;
        }
    }

    .restaurants
    {
        background-color: transparent;

        h2
        {
         margin: 0;
         padding-left: 8px;
        }
    }
}