$color-primary:#9356DC;
$color-primary-light:lighten($color-primary, 10%);
$color-secondary:#FF79DA;
$color-secondary-light:lighten($color-secondary, 10%);
$color-tertiary: #99E2D0;
$color-light-grey: #F7F7F7;
$color-medium-grey: #EDEDED;
$color-dark-grey: #353535;