.btn
{
    font-family: 'Roboto', sans-serif;
    color: white;
    border-style: none;
    border-radius: 40px;
    background: #FEB9FF;
    background: -moz-linear-gradient(-45deg, $color-secondary 0%, $color-primary 90%);
    background: -webkit-linear-gradient(-45deg, $color-secondary 0%, $color-primary 90%);
    background: linear-gradient(170deg, $color-secondary 0%, $color-primary 90%);
    -webkit-box-shadow: 5px 5px 15px 5px $color-medium-grey; 
    box-shadow: 5px 5px 15px 5px $color-medium-grey;
}

.btn-explore
{
    padding: 20px;
    font-size: larger;

    &:hover
    {
        -webkit-box-shadow: 5px 5px 15px 5px $color-dark-grey; 
        box-shadow: 5px 5px 15px 5px $color-dark-grey;
    }
}

.btn-order
{
    padding: 10px 40px 10px 40px;
    font-size: larger;

    &:hover
    {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-box-shadow: 5px 5px 15px 5px $color-dark-grey; 
        box-shadow: 5px 5px 15px 5px $color-dark-grey;
        opacity: 0.9;
    }
}