.function
{
    padding-left: 2%;
    padding-right: 2%;

    h1, h2, h3
    {
        font-family: 'Roboto', sans-serif;
        padding-left: 8px;
    }

    p
    {
        font-family: 'Roboto', sans-serif;
        font-size: larger;
    }

    .func_card
    {
        display: flex;
        align-items: center;
        gap: 20px;
        background-color: $color-light-grey;
        border-radius: 15px;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4); 
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
        padding-left: 8%;
        margin-bottom: 8%;
        margin-left: 4%;
        width: 84%;

        &:hover
        {
            background-color: rgba($color-primary, 0.2);

            .fa-solid
            {
                color: $color-primary;
            }
        }

        .number
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: $color-primary;
            color: white;
            position: absolute;
            left: 10px;
        }
    }
}

@media screen and (min-width: 992px)
{
    .function
    {
        padding : 0;

        h2
        {
            color: black;
        }

        .func_container
        {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .func_card
            {
                margin-bottom: 20px;
                justify-content: center;
                margin: 2%;
                padding-left: 0;

                .number
                {
                    position: relative;
                    // left: -110px;
                    display: none;
                }
            }
        }
    }

}