.menu_cards
{
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu_card
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        width: 94%;
        margin-bottom: 10px;
        -webkit-box-shadow: 0px 0px 16px -4px $color-dark-grey; 
        box-shadow: 0px 0px 16px -4px $color-dark-grey;

        .menu_card_content
        {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .menu_card_text
            {
                padding-left: 3%;
                line-height: 10px;
                width: 100%;
                max-width: 100%;
                overflow: hidden;

                h3, p
                {
                    font-family: 'Roboto', sans-serif;
                }
            }

            .menu_card_price
            {
                display: flex;
                align-items: flex-end;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                padding-bottom: 12px;
                max-width: 100%;
                
            }
        }

        .menu_card_check
        {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-tertiary;
            border-radius: 0 20px 20px 0;
            visibility: hidden;

            i
            {
                color: white;
                font-size: 24px;
            }
        }

        &:hover
        {
            .menu_card_text
            {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 100%;
            }

            .menu_card_check
            {
                width: 30%;
                visibility: visible;
                margin-right: 0;
                transition-duration: 0.5s;
                transition-timing-function: ease;

                i
                {
                    transform: rotate(360deg);
	                transition-duration: 0.5s;
                }
            }
        }
    }
}