.restaurants_cards
{
    h3, p
    {
        font-family: 'Roboto', sans-serif; 
    }

    .restaurant_card
    {
        display: block;
        position: relative;
        text-decoration: none;
        border-radius: 15px;
        background-color: white;
        margin: 20px;
        -webkit-box-shadow: 0px 0px 16px -4px $color-dark-grey; 
        box-shadow: 0px 0px 16px -4px $color-dark-grey;

        img
        {
            height: 200px;
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            object-fit:cover
        }

        .new
        {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: $color-tertiary;
            color: green;
            font-weight: bold;
            padding: 10px;
            border-radius: 2px;
        }

        .text_card
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            color: black;
            line-height: 1%;
            padding-left: 8%;
            padding-right: 8%;
        }
    }
}

@media screen and (min-width: 992px)
{
    .restaurants_cards
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: transparent;
        width: 100%;

        .restaurant_card
        {
            width: 23%;
        }

        h2
        {
            font-family: 'Roboto', sans-serif;
            margin-left: 20px;
        }
    }
}